- @post.comments.each do |comment| 
  .well
    %strong Commenter:
    %p= comment.user.name
    %strong Comment:
    %p= comment.body 
    
    - if can? :destroy, comment
      %p= link_to "Delete Comment", [comment.post, comment], :confirm => 'Are you sure?', :method => :delete
    